/*  Button Bar - Height set by the user */
.uib-button-bar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.uib-button-bar > .uib-sprite-button,
.uib-button-bar > .uib-graphic-button {
  height: 100%;
  width: 100%;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.uib-sprite {
  height: 100%;
  width: 100%;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.uib-button-bar .uib-caption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0 1em;
}
/* Base Graphic & Sprite Button */
.uib-graphic-button,
.uib-sprite-button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
/* Makes a tag full size of Sprite graphic */
.uib-sprite a {
  width: 100%;
  height: 100%;
  display: block;
}
/* Order: Text Top, Text Bottom, Text Left, Text Right */
.media-button-text-top {
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.media-button-text-top .uib-caption {
  width: auto;
}
.media-button-text-bottom {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.media-button-text-bottom .uib-caption {
  width: auto;
}
.media-button-text-left {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.media-button-text-left .uib-caption {
  width: auto;
}
.media-button-text-right {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.media-button-text-right .uib-caption {
  width: auto;
}