@media all {
.btn_back { -webkit-flex: 0 0 auto !important; -moz-flex: 0 0 auto !important; -ms-flex: 0 0 auto !important; -o-flex: 0 0 auto !important; flex: 0 0 auto !important;   
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
  min-width:150px;
}

}

